:root {
  --text: #6b6375;
  --color-navbar: #547e72;
  --color-sidebar: #0a1811;
  --color-sidebar-clc: #0f2214;
  --color-sidebar-hv: rgba(10, 121, 47, 0.103);
  --color-sidebar-border: rgba(113, 184, 137, 0.281);
  --color-primary: #c1c98e;
  --color-secondary: #90b6bf;
  --card-bg: #f5f5f5;
  --bg: #0a1811;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
